/* HistoryItem.module.css */
.history_item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.item_details {
  display: flex;
  flex-direction: column;
}

.item_title {
  font-size: 18px;
  font-weight: bold;
}

.item_description {
  font-size: 14px;
  color: gray;
}

.item_price {
  font-size: 16px;
}

.item_date {
  font-size: 14px;
  color: gray;
}

